.nav{
  margin: 0 -12px;

  &__item{
    
    &_right{
      float: right;
    }

    button {
      & > div > div{
        color: white;
        padding: 0 25px !important;
      }
    }

    &_active{

      button{
        background-color: green !important;
      }
    }
  }
}